.event-background{
	height: 20em;
	
	background: no-repeat center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.divider-with-border{
	padding: 1em;
	border-bottom: 1px dotted #000;
	margin-bottom: .5em;
}

.divider{
	padding: 1em;
	margin-bottom: .5em;
}