.event-background{
	height: 20em;
	
	background: no-repeat center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.divider-with-border{
	border-bottom: 1px dotted #000;
}

.divider{
	padding: .5em;
	margin-bottom: .5em;
}

.small-divider{
	width: 15em;
	margin-left: auto;
	margin-right: auto;
}